{% extends "base.html" %}

{% block conteudo %}
<h2 class="text-center">Alugar Imóvel</h2>
<hr>

<div class="row d-flex justify-content-center">
    <div class="col-6 text-center">
        <p class="fs-3">Confirmar o aluguel do imóvel {{ imovel }}</p>
    </div>
</div>

<form action="" id="form-alugar" method="POST">
    {% csrf_token %}
    <input type="hidden" name="imovel_id" value="{{ imovel.id }}">
    <div class="row d-flex justify-content-center" style="max-height: 40px;">
        <div class="col-3">
            <select class="form-select" name="tipo_contrato" id="tipo_contrato" aria-label="Seleção de contratos de aluguel">
                <option selected>Escolha o tipo de contrato</option>
                {% if preco_diaria %}
                    <option value="1">Diário</option>
                {% endif %}
                {% if preco_mensal %}
                    <option value="2">Mensal</option>                
                {% endif %}
              </select>
        </div>
        <div class="col-1 text-end">
            <label for="periodo" class="form-label">Período</label>
        </div>
        <div class="col-2">
                <input
                type="number"
                name="periodo"
                id="periodo"
                min="1"
                max="30"
                class="form-control"
                placeholder="1"
                >
        </div>
    </div>
    <div class="row d-flex justify-content-center mt-3">
        <div class="col-6">
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Alugar</button>
            </div>
        </div>
    </div>
</form>

{% endblock conteudo %}