{% extends "base.html" %}

{% block conteudo %}
    <h2 class='text-center'>Alugar Imóvel</h2>
    <hr>

    <div class="row row-cols-4">
        {% for imovel in imoveis %}
            <div class="col">
                <div class="card" style="width: 15rem">
                    <div class="card-body">
                        {% if imovel.preco_mensal %}
                            <h5 class="card-title">
                                Aluguel mensal: R$ {{ imovel.preco_mensal|floatformat:2 }}
                            </h5>
                        {% endif %}
                        {% if imovel.preco_diaria %}
                            <h6 class="card-subtitle">
                                Diária: R$ {{ imovel.preco_diaria|floatformat:2 }}
                            </h6>
                        {% endif %}
                      <p class="card-text">{{ imovel.descricao }}</p>
                      <a href="{% url 'gestao:detalhe_imovel' imovel.id %}" class="card-link">Ir para os detalhes</a>
                    </div>
                  </div>
            </div>
        {% endfor %}
    </div>

{% endblock conteudo %}